.App {
    text-align: center;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .contentLabel {
    padding-top: 10px;
    /* transform: translate3d(calc(50% + 40px), 0, 0); */
    text-align: left;
    background: #202035;
    color: white;
    z-index: 0;

    padding: 10px 15px; /* Keep padding for spacing */
    border-radius: 5px;
    width: auto; /* Change width to auto to fit text */
    /* display: inline-block; Optional: Use inline-block to fit content */
}

.contentImage{
  /* background: #27ff10; */
  /* padding-top: 10px;
  padding-left: 50px; */
  /* margin-bottom:100px; */
  z-index: 10;
  position: absolute;
  height:700px;
  width:700px;
  transform: translate(-400px, -400px);
}

.threedImage{
  border: 10px solid #202035;
  border-radius: 25px;
}

.contentContainer{
  display:flex;

}

.contentLabel::before {
    content: "";
    position: absolute;
    top: 25px;
    height: 1px;
    width: auto;
}
  
  
  