
/* .listcontents {
  display: flex;
  align-items: left;
  content: "";
  position: absolute;
  top: -180px;
  left: -410px;
  height: 200px;
  width: 250px;
  background: black;
  border-radius: 5%;
  padding:10px;
flex-wrap: wrap;
flex-direction: row;
overflow-y: auto;
} */

.listcontent {
  display: flex;
  /* align-items: center; */
  flex-direction: column;
  color:white;
  border: none;
  margin: 30px;
  padding:20px;
  border-radius: 2%;
}

/* .square{
  display: flex;
  width: 20%;
  height: 20%;
} */

.textbutton{
  display: flex;
  align-items: center;
  border: 0px solid;
  border-radius: 10%;
  width:45px;
  padding-left:9px;
  padding-right:12px;
  background-color:rgb(132, 132, 132);
  font-size: 20px;
}

.textbutton:hover{
  display: flex;
  border: 0px solid;
  border-radius: 20%;
  background-color:rgb(221, 221, 221);
}

.texts{
  display: flex;
  flex-direction: column;
  font-size: 20px;
}

.header {
  display:flex;
  padding: 50px;
  z-index: 10;
  flex-direction: row;
  position: absolute;
  margin:20px;
  top: 5em;
  color: white;
  width:700px;
  height:600px;
  font-family: 'Josefin Sans', sans-serif;
  /* text-align: left; */
  background-color: rgb(19, 19, 19);
  border:0px solid;
  border-radius: 5%;
}

.overviewlist{
  display:flex;
  flex-direction: column;
  height:50px;
  width:300px;
  margin-top:10px;
  padding-top:10px;
  margin-left:20px;
  border-bottom:1px solid;
  /* background-color:rgb(68, 68, 68); */
}

.overviewlist:hover{
  background-color: rgb(55, 52, 255);
}

.overviewtext{
  display:flex;
  flex-direction: column;
  margin-top:10px;
  padding:5px;
  font-size: 20px;
}

.overviewContainer{
  display:flex;
  flex-direction: column;
  /* background-color:rgb(24, 151, 90);  */
  overflow-y: auto;
  overscroll-behavior: contain;
  max-width: 70%;
}

.navbar .px-3 .mb-3{
  display: flex;
  flex-direction: row;
  background-color: blue;
  width: 1000px;
}

.nav {
  display:unset;
  flex-direction: column;
  /* background-color: rgb(255, 230, 0); */
  /* padding-left:100px; */
  flex-wrap:nowrap ;
  width:100%;
}

.nav-pills{
  /* background-color: rgb(50, 212, 158); */
  border-bottom:1px solid;
}

.nav-item{
  display: flex;
}

.nav-link{
  display: flex;
  overscroll-behavior: contain;
  color: rgb(255, 255, 255)!important; 
}

.scrollspy-example .bg-body-tertiary .p-3 .rounded-2{
  background-color: rgb(92, 58, 212);
  opacity: 100;
}



